* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overscroll-behavior-x: none;
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #000;
  color: #fff;
}

#bg_wrapper {
  display: flex;
}

.fs_logo {
  margin-left: 4%;
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1688748203/FSCLONE/fs_logo_mi1wcr.png);
  background-size: cover;
  background-position: center;
  width: 290px;
  height: 25px;
  filter: invert(100%);
}

.logo {
  width: 230px;
  height: 100px;
  margin: 0 auto;
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ds_bg {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1690999229/FSCLONE/bg%20full%20size/ds_bg_invxnh.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ds_bg .logo {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000389/FSCLONE/logos/ds_logo_fn6lv2.png);
}

.sekiro_bg {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000205/FSCLONE/bg%20full%20size/sk_bg_i8dvyw.png);
  background-size: cover;
  background-position: 80%;
}

.sekiro_bg .logo {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000389/FSCLONE/logos/sk_logo_sf2zxo.png);
}

.armored_bg {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000205/FSCLONE/bg%20full%20size/armored_bg_zhgflz.png);
  background-size: cover;
  background-position: 25%;
}

.armored_bg .logo {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000389/FSCLONE/logos/armored_logo_nh1rbn.png);
}

.elden_bg {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1690999229/FSCLONE/bg%20full%20size/elden_bg_ziic8a.png);
  background-size: cover;
  background-position: center;
}

.elden_bg .logo {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000390/FSCLONE/logos/er_logo_va6wnp.png);
}

.bloddb_bg {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000204/FSCLONE/bg%20full%20size/bb_bg_n0idaa.png);
  background-size: cover;
  background-position: 78%;
}

.bloddb_bg .logo {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000389/FSCLONE/logos/bb_logo_zdvdbc.png);
}

.deracine_bg {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000204/FSCLONE/bg%20full%20size/deracine_bg_ekt1xe.png);
  background-size: cover;
  background-position: 82%;
}

.deracine_bg .logo {
  background-image: url(https://res.cloudinary.com/dvn4cywk8/image/upload/v1691000389/FSCLONE/logos/deracine_logo_gimhmf.png);
}

iframe {
  width: 288px;
  height: 182px;
}

.ref a {
  color: red;
  font-size: 15px;
}
